{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{%- block field -%}
    {% spaceless %}
        <table>
            {% for item in object.data %}
                <tr>
                    <th>{{ item['name'] }}</th>
                    <td>{{ item['description'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endspaceless %}
{%- endblock -%}